// 颜色
@color_default: #3f85db;
@color_default_active: #eef9ff;
@color_default_shallow: #eef9ff;
@color_success: #33c19e;
@color_success_shallow: #ecfaf6;
@color_warning: #f1ba24;
@color_warning_shallow: #fffcf3;
@color_err: #e06868;
@color_err_shallow: #fef8f6;
@color_gray1: rgba(0, 0, 0, 0.45);
@color_gray2: rgba(0, 0, 0, 0.65);
@color_white: rgb(255, 255, 255);

// 默认喵边颜色
@color_border_default: #d9d9d9;

// font-size
@font_m: 1rem;
@font_l: 1.2rem;
@font_xl: 1.4rem;
@font_xxl: 1.6rem;
// padding-size
@padding_m: 0.2rem 0.4rem;
@padding_l: 0.5rem 1rem;
@padding_xl: 0.6rem 1.2rem;
@padding_xxl: 0.8rem 1.4rem;

// 动画
.create_animate(@n, @i: 1) when (@i =< @n) {
  .anim@{i} {
    transition: all @i*0.1 + 0s;
  }
  .create_animate(@n, (@i + 1));
}
.create_animate(10);
