.inl-menu {
  width: 200px;
  overflow-y: auto;
  @itemHeight: 40px;
  border-right: 1px solid @border_c;
  .pd(@n: 10) {
    padding-left: @n + 0px;
  }
  .itemHover() {
    &:hover {
      > .inl-menu-item-name {
        color: @c_d;
      }
      & {
        background-color: @c_m_c;
      }
    }
  }
  .active {
    > .inl-menu-item-name {
      color: @c_d;
    }
    & {
      background-color: @c_m_c;
    }
  }

  li:not(.inl-menu-group).inl-menu-item {
    .itemHover();
  }
  ul {
    padding: 0;
  }
  .inl-menu-item {
    display: flex;
    height: @itemHeight;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    .anim3();
    span {
      .pd();
      .anim3();
    }
    &-active {
      .active();
    }
  }

  .inl-menu-group {
    cursor: auto;
    flex-direction: column;
    height: auto;
    align-items: flex-start;
    padding-left: 0;
    ul {
      width: 100%;
    }

    &-title {
      &:hover {
        color: @c_d;
      }
    }

    ul {
      height: 0;
      overflow: hidden;
      .anim3();
      &.inl-menu-group-list-open {
        height: auto;
      }
    }
    ul .inl-menu-item .inl-menu-group-list {
      li {
        .pd(20);
      }
    }
    .inl-menu-group-title.inl-menu-item {
      width: calc(100% - 10px);
    }
  }
}
