.card2-outer {
  position: relative;

  .border-block-group {
    .border-block {
      width: 8px;
      height: 8px;
      border: 2px solid #15bc91;
      position: absolute;

      &.left-top-block {
        top: 0;
        left: 0;
        border-right: none;
        border-bottom: none;
      }
      &.left-bottom-block {
        bottom: 0;
        left: 0;
        border-right: none;
        border-top: none;
      }
      &.right-bottom-block {
        bottom: 0;
        right: 0;
        border-left: none;
        border-top: none;
      }
    }
  }

  .card2-outer-header {
    .inner-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 22px;
      font-size: 14px;
      color: #fff;

      .title {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        margin-left: 12px;
      }
    }
  }

  .card2-outer-content {
    margin: 10px 15px;
    &-panel {
      width: 100%;
      &-content {
        font-size: 14px;
        font-weight: 400;
        color: #ffffff;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        &-state {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-right: 20px;
          &-col {
            margin-right: 5px;
            > span {
              display: inline-block;
              width: 10px;
              height: 10px;
              border-radius: 50%;
              margin-right: 5px;
              border: 1px solid #20355f;
              &.green {
                background: #55f1ff;
              }
              &.white {
                background: #fff;
              }
              &.red {
                background: #ec763c;
              }
              &.grey {
                background: #a9b3c6;
              }
            }
          }
          > img {
            width: 13px;
            margin-right: 10px;
          }
        }
      }
      &-table {
        width: 100%;
        &-header {
          height: 42px;
          line-height: 42px;
          margin-bottom: 10px;
          &-info {
            background: url("/micro-assets/platform-web/headerA.png") no-repeat;
            background-size: 100% 100%;
          }
          &-state {
            text-align: center;
            background: url("/micro-assets/platform-web/headerB.png") no-repeat;
            background-size: 100% 100%;
          }
        }
        &-body {
          height: 32px;
          line-height: 32px;
        }
        .line {
          display: flex;
          align-items: center;
          width: 100%;
          padding: 3px 0;
          > span {
            &:first-child {
              display: block;
              width: 4px;
              height: 2px;
              background: #fcdf45;
            }
            &:last-child {
              display: block;
              width: calc(100% - 4px);
              height: 1px;
              background: #d3e2ff;
            }
          }
        }
      }
    }
  }
}
