@import url("./loginBox.less");



.login {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  background: #090f33;
  background-image: url(../img/loginBackground.png);
  background-size: cover;
  .topTitle {
    height: 48px;
    margin: 4.29rem;
    img {
      width: 323px;
    }
  }
  .content_login {
    height: 700px;
    flex: 1;
    padding: 0 150px;
    display: flex;
    justify-content: space-between;
    &.system {
      justify-content: center;
      .login_box,
      .left {
        width: 600px;
        height: 600px;

        &.left {
          background-color: rgba(255, 255, 255, 0.1);
          border-radius: 6px 0px 0px 6px;
          backdrop-filter: blur(20px);
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          > div {
            margin-bottom: 3rem;
          }
          img {
            width: 425px;
            height: 300px;
          }
          h3,
          p {
            color: #fff;
          }
          h3 {
            font-size: 20px;
            font-weight: 600;
            text-align: center;
            line-height: 28px;
          }
          p {
            font-size: 14px;
            line-height: 26px;
            padding: 0 2rem;
            font-weight: 0;
          }
        }
        &.login_box {
          background-color: rgba(255, 255, 255, 0.15);
          border-radius: 0px 6px 6px 0px;
          border: none;
          backdrop-filter: blur(20px);
        }
      }
    }
    &.platform {
      align-items: center;
    }
    .left {
      width: 65.17rem;
      height: 50rem;
    }

    .login_box {
      width: 31.43rem;
      height: 38.57rem;
      border: 0.21rem solid;
      border-image: linear-gradient(rgba(229, 235, 255, 0.09), rgba(255,255,255,0)) 80 30;
      flex-shrink: 0;
      position: relative;
      right: 0;
      display: flex;
      flex-direction: column;
      .ant-form{
        flex: 1;
        // display: flex;
        // flex-direction: column;
        // justify-content: space-around;
        .ant-form-item{
          flex: 1;
          margin-bottom: 55px;
          .ant-form-item-label{
            padding-bottom: 25px;
          }
        }
      }
    }
  }
  .copyright-information {
    position: absolute;
    bottom: 20px;
    margin: 0;
    left: 0;
    right: 0;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #7B8492;
    line-height: 20px;
    text-align: center;
    a {
      color: #666;
      text-decoration: none;
    }
  }
}
@media screen and (max-width: 1920px) {
  .login {
    background: red;

    .content_login {
      padding:0 100px;
      .left {
        width: 52rem;
        height: 40rem;
      }
    }
  }
}

@media screen and (max-width: 1500px) {
  .login {
    background: red;
    .content_login {
      padding: 0 60px;
      .left {
        width: 52rem;
        height: 40rem;
      }
    }
  }
}