@import url("./systemManager/index.less");
@import url("./systemManager/about.less");
@import url("./login/login.less");
@import url("./alarm/index.less");
@import url("./pss/index.less");
.flex {
  display: flex;
}

each(range(12), {
      .flex@{value} {
        flex: @value;
      }
    }
  );

.center {
  text-align: center;
}
.hide {
  display: none;
}
.ant-select {
  width: 200px;
}
.btn {
  cursor: pointer;
}
::-webkit-scrollbar-thumb {
  background-color: #e0e4e8;
}
[data-doc-theme=dark] .login_box .ant-input, [data-doc-theme=light] .login_box .ant-input{
  color: #fff;
}