.layout-content {
  background: #eff2f6;
  padding: 10px;
  .layout-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    .tabs-container {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      .btn-scroll {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        padding: 0;
        color: #bdc1cf;
        &.left {
          margin: 8px 8px 8px 0;
        }
        &.right {
          margin: 8px 0 8px 8px;
        }
        svg {
          width: 12px;
          height: 12px;
          margin-top: 3px;
        }
      }
      .tabs-list {
        flex: 1;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        &::-webkit-scrollbar {
          height: 0px;
        }
        .tab-item {
          flex-shrink: 0;
          padding: 5px 16px;
          border-radius: 6px 6px 0px 0px;
          .icon {
            margin-right: 3px;
          }
          .btn-close {
            margin-left: 5px;
          }
          &:not(.active) .tab-item-text {
            color: #5c667d;
          }
          &.active {
            background: #fff;
            .btn-close {
              color: #939393;
            }
          }
        }
      }
    }
    .main-content {
      flex: 1;
      display: flex;
      height: calc(100% - 33px);
      flex-direction: column;
      margin-top: 33px;
      padding: 24px;
      background: #fff;
      & > * {
        flex: 1 1 0;
      }
    }
  }
}
