.ant-select-item-option-content{
    .color{
        width: 10px;
        height: 10px;
        background-color: #3E7EFF;
        display: inline-block;
        margin-right: 3px;
    }
    .dark{
        background-color: #1D33A2;
    }
}
.theme-select{
    .color {
            width: 10px;
            height: 10px;
            background-color: #3E7EFF;
            display: inline-block;
            margin-right: 3px;
        }
    
        .dark {
            background-color: #1D33A2;
        }
}