@list: a, b, c, d, e, f, g, h, i, j, k, l, m, n, o, p;

.play {
  .layout {
    height: 100vh;
    width: 100vw;
    display: grid;
    each(@list, {
      .layout-item:nth-of-type(@{index}) {
        grid-area: @value;
      }
    });
    &.layout1 {
      grid-template-areas: 'a';
    }
    &.layout4 {
      grid-template-areas:
        'a b'
        'c d';
    }
    &.layout8 {
      grid-template-areas:
        'a a a b'
        'a a a c'
        'a a a d'
        'e f g h';
    }
    &.layout9 {
      grid-template-areas:
        'a b c'
        'd e f'
        'g h i';
    }
    &.layout13 {
      grid-template-areas:
        'a a b c'
        'a a d e'
        'f g h i'
        'j k l m';
    }
    &.layout16 {
      grid-template-areas:
        'a b c d'
        'e f g h'
        'i j k l'
        'm n o p';
    }
    .camera {
      height: 100%;
      width: 100%;
      overflow: hidden;
      .placeholder {
        height: 100%;
        width: 100%;
        background: #000;
      }
    }
  }
}
